@model TaskAuthenticationAuthorization.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Навчальний курс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Номер
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-3" width="500%">
            Курс
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Кафедра
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Department_Name)
        </dd>
        <dt class="col-sm-3">
            Дисципліни
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Disciplines)
        </dd>
        <dt class="col-sm-3">
            Лекції
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Lectures)
        </dd>
        <dt class="col-sm-3">
            Практичні
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Practical)
        </dd>
        <dt class="col-sm-3">
            Лабораторні
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Laboratory)
        </dd>
        <dt class="col-sm-3">
            Самостійна робота
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Self_Study)
        </dd>
    </dl>
</div>
<div>
    @if (ViewContext.HttpContext.User.IsInRole(ApplicationRoles.AdminRole))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Редагувати</a>
    }
    | <a asp-action="Index">Повернутися до списку</a>
</div>
